:root {
  color-accent: pink;
  color-primary: plum;
}

body {
  font-size: 62.5%;
}

button {
  background-color: inherit;
  border: none;
}

.custom {
  height: 100px;
  width: 100px;
  background-color: var(--color-primary);
  border: 1px solid purple;
}

#root {
  height: 100vh;
}
